---
---

@import "{{ site.theme }}";

.page-header {
	padding-top: 1rem;
	padding-bottom: 0.01rem;
    text-align: center;
    background-color: #cc2874;
    background-image: linear-gradient(120deg, #155799, #ff1010);
}

h1, h2, h3, h4, h5, h6 {
	color: #971557;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 3rem;
}

.bg-cold-hot-gradient {
  background-color: #cc2874;
  background-image: linear-gradient(120deg, #155799, #ff1010);
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

#content {
  font-size: 1rem;
}