<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/mph/assets/css/style.scss">

  <meta charset="UTF-8">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <title>Рівняння Математичної Фізики | Київський Національний Університет імені Тараса Шевченка</title>
</head>
<body >
<header class="site-header" role="banner">
  <nav class="navbar navbar-expand-md navbar-dark bg-cold-hot-gradient fixed-top">
    <div class="container col-lg-10 col-md-11 col-12">
      <a class="navbar-brand mr-4" href="/mph/">
        {{ page.title | default: site.title | default: site.github.repository_name }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
              aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/mph/lectures/"><span id="current">Лекції</span></a>
          <a class="nav-item nav-link" href="/mph/control/"><span id="current">Питання</span></a>
          <a class="nav-item nav-link" href="/mph/practice/control/"><span id="current">Практичні</span></a>
          <a class="nav-item nav-link" href="/mph/books/"><span id="current">Література</span></a>
        </div>
      </div>
    </div>
  </nav>
</header>
<main role="main" id="content" class="main-content container col-12">
  <div class="row">
    <div class="col-md-8">
      {{ content }}
    </div>
    <div class="col-md-1">
      <!--space between posts and sidebar-->
    </div>
    <div class="col-md-3">
      <div class="content-section">
        <span class="text-muted">
          Наступний модуль відбудеться
        </span>
        <span class="text-danger">
          % % 2019&nbsp;р.
        </span>
      </div>
      <div class="content-section text-danger">
        <span class="text-muted">
          Наступна практична контрольна робота відбудеться 
        </span>
        <span class="text-danger">
          % % 2019&nbsp;р.
        </span>
      </div>
    </div>
  </div>
  <footer class="site-footer">
    <span class="site-footer-owner">
      <a href="{{ site.github.repository_url }}">
        {{ site.github.repository_name }}
      </a>
      is maintained by
      <a href="{{ site.github.owner_url }}">
        {{ site.github.owner_name }}
      </a>.
    </span>
    <span class="site-footer-credits">
      &copy; 2019 Київський національний університет імені Тараса Шевченка, Анатолій Кузьмін, Скибицький Нікіта
    </span>
    </footer>
</main>

<!-- MathJax JavaScript -->
<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>